[user]
    name = Tomasz Rak
    email = raktom0@gmail.com
    signingkey = raktom0@gmail.com
[core]
    editor = nvim
[commit]
    gpgsign = true
[tag]
    gpgSign = true
[init]
    defaultBranch = main
[diff]
    tool = nvim
    submodule = log
    algorithm = patience
    indentHeuristic = true
[difftool "nvim"]
   cmd = "nvim -f -d -c \"wincmd l\" -c 'cd \"$GIT_PREFIX\"' \"$LOCAL\" \"$REMOTE\""

